.custom-catalog-personaliced{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 1rem;
    
}



// .custom-catalog-personaliced {
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   display: grid;
//   align-content: center;
//   justify-content: center;
//   align-items: center;
//   justify-items: center;
//   grid-gap: 1rem;
// }
// .container-selected {
//   display: flex;
//   justify-content: flex-end;
//   align-items: left;
//   margin-bottom: 20px;
  
// }

