/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow: auto;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  
background: linear-gradient(170deg,rgba(7, 150, 167, 1) 0%, rgba(87, 107, 193, 1) 50%, rgba(155, 50, 194, 1) 100%);
}
